* {
  letter-spacing: 0px;
  font-family: "Martel Sans";
}

body {
  margin: 0;
  padding: 0;
  font-family: "Martel Sans";
  color: white;
  background-color: black;
}

:root {
  --color: #E50914;
  --lightColor: #e6e6e6;
  --borderColor: rgb(35, 35, 35)
}

/* For mobile and tablets */
@media screen and (max-width: 956px) {
  header {
    background-image: url("./assets/movie-grid.jpg");
    /* background-attachment: fixed; */
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    border-bottom: 8px solid var(--borderColor);
    box-shadow: 0px 0px 400px 120px inset;
    height: 600px;
  }

  #netflix {
    display: inline;
    color: var(--color);
    font-weight: 300;
    font-size: 25px;
    font-stretch: semi-condensed;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
  }

  #menu {
    display: flex;
    gap: 7px;
  }

  #signIn {
    border-style: none;
    background-color: var(--color);
    color: white;
    height: 32px;
    width: 75px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 15px;
  }

  #signIn:hover {
    cursor: pointer;
  }

  .langauge {
    background-color: transparent;
    color: white;
    height: 32px;
    width: fit-content;
    font-weight: 500;
    font-size: 15px;
    border-radius: 7px;
    padding: 3px 13px;
    border: 1px solid lightslategray;
  }

  #info {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    /* padding: 90px 0px; */
  }

  #heading-info {
    display: flex;
    font-weight: 900;
    font-size: 30px;
    width: 80%;
    font-family: "Martel Sans";
  }

  #sub-info,
  #email-info {
    font-size: 17px;
    font-family: "Martel Sans";
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
    width: 85%;
  }

  #email-info {
    margin-bottom: 15px;
  }

  .email {
    width: 300px;
    height: 45px;
    background-color: rgba(8, 5, 5, 0.7);
    border: 0.1px solid rgb(82, 83, 83);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 25px 20px;
    font-size: 15px;
    color: white;
  }
  
  input::placeholder {
    color: white;
  }

  #subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  #get-started {
    font-size: 18px;
    width: 150px;
    height: 45px;
    border-style: none;
    font-weight: 700;
    box-sizing: border-box;
    background-color: var(--color);
    color: white;
    border-radius: 5px;
    font-stretch: expanded;
  }

  #get-started:hover {
    cursor: pointer;
  }

  /* ==========================main================================= */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .border {
    width: 100%;
    border-bottom: 8px solid var(--borderColor);
  }

  /* section {
    height: 720px;
  } */

  /* =========tv-section============ */
  #tv-section {
    width: 100%;
    height: 840px;
    /* margin-bottom: 20px; */
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative; */
  }

  #tv-section-content {
    width: 75%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 35px 0px; */
    /* margin-bottom: 10%; */
  }


  #tv-header {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  #tv-content {
    font-size: 20px;
    align-content: center;
    text-align: center;
  }

  #tv {
    /* width: 100%; */
    height: 40%;

    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    /* margin-bottom: 20px; */
  }

  #tv-div {
    position: relative;
    display: inline-flex;
    /* flex-direction: row; */
    justify-content: center;
  }

  /* #tv-video {
    
  } */

  #video-container {
    /* width: 250px;
    height: 180px; */
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* height: 210px; */
    /* overflow: hidden; */
  }


  #tv-img {
    width: 70vw;
    z-index: 99;
    position: absolute;
  }

  /* =========mobile-section============ */

  #mobile-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 80px 0px;
  }

  #mobile-section-content {
    width: 80%;
    /* border: 1px solid #0071eb; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    gap: 8px;
  }

  #stranger-title {
    font-size: 15px;
    font-weight: 700;
    /* margin: -3px; */
  }

  #mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #stranger-img {
    width: 90%;
  }

  #mobile-download-content {
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
  }

  #mobile-favourite-content {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
  }

  #mobile-inner {
    top: 75%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 8px 20px 1px black;
  }

  #stranger-book-img {
    width: 30px;
  }

  #stranger-title {
    font-size: 14px;
  }

  #stranger-download {
    font-size: 12px;
  }

  /* =========monitor-section============ */

  #monitor-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 20px 0px;
  }

  #monitor-watch {
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
  }

  #monitor-watch-header {
    font-size: 35px;
  }

  #monitor-watch-content {
    font-weight: 500;
    font-size: 17px;
    margin: 0px;
    line-height: 25px;
  }

  #monitor {
    /* width: 100%; */
    align-items: center;
    justify-content: initial;
  }

  #monitor-img {
    width: 90%;
  }

  #monitor-container {
    width: 55%;
    height: 75%;
    margin-top: 25px;
    overflow: hidden;
  }

  /* #monitor-video {
    width: 70%;
  } */

  /* ========= children section ========== */
  #children-section {
    width: 100%;
    height: 480px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 80px 0px;
  }

  #children-section-content {
    justify-content: initial;
    align-items: center;
    text-align: center;
  }

  #children-profile-content {
    font-size: 30px;
  }

  #children-content {
    width: 90%;
    font-size: 17px;
    line-height: 23px;
  }

  #children {
    justify-content: center;
    margin-top: 50px;
  }

  #children-img {
    width: 90%;
  }

  /* ===========question section=========== */

  #frequent-questions {
    font-size: 29px;
  }

  .question-list {
    width: 80%;
    margin: 0px 0px;
  }

  #questions-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  #question-email {
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 25px;
  }

  #email-para {
    width: 80%;
    font-size: 17px;
  }

  #email-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  /* =============footer=============== */
  #footer-ul {
    grid-template-columns: 1fr 1fr;
  }
}


/* For laptops and desktop */
@media screen and (min-width: 957px) and (max-width: 1279px){
  header {
    background-image: url("./assets/movie-grid.jpg");
    /* background-attachment: fixed; */
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    box-shadow: 0px 0px 600px 120px inset;
    border-bottom: 8px solid var(--borderColor);
  }

  #netflix {
    display: inline;
    color: var(--color);
    font-weight: 800;
    font-size: 45px;
    font-stretch: semi-condensed;
  }

  nav {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 60px; */
  }


  #menu {
    display: flex;
    gap: 30px;
  }

  #signIn {
    border-style: none;
    background-color: var(--color);
    color: white;
    height: 32px;
    width: 75px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 15px;
  }

  #signIn:hover {
    cursor: pointer;
  }

  .langauge {
    background-color: transparent;
    color: white;
    height: 32px;
    width: fit-content;
    font-weight: 500;
    font-size: 15px;
    border-radius: 7px;
    padding: 3px 13px;
    border: 1px solid lightslategray;
  }

  #info {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 205px 0px;

  }

  #heading-info {
    display: flex;
    font-weight: 900;
    font-size: 45px;
    font-family: "Martel Sans";
  }

  #sub-info,
  #email-info {
    font-size: 22px;
    font-family: "Martel Sans";
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
  }

  #email-info {
    margin-bottom: 15px;
  }

  .email {
    width: 370px;
    height: 55px;
    background-color: rgba(8, 5, 5, 0.7);
    border: 0.1px solid rgb(82, 83, 83);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 25px 20px;
    font-size: 15px;
    color: white;
  }

  input::placeholder {
    color: white;
  }

  #get-started {
    width: 200px;
    height: 55px;
    font-size: 20px;
    border-style: none;
    font-weight: 700;
    box-sizing: border-box;
    background-color: var(--color);
    color: white;
    border-radius: 5px;
    font-stretch: expanded;
  }

  #get-started:hover {
    cursor: pointer;
  }


  /* =================================== main ===================================== */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .border {
    width: 100%;
    border-bottom: 8px solid var(--borderColor);
  }

  .section-top {
    height: 66vh;
    width: 95%;
    /* height: 720px; */
  }

  /* =========section 1========== */

  #tv-section {
    display: flex;
  }

  #tv-section-content, #tv {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #tv-header {
    font-weight: 1000;
    font-size: 50px;
    font-family: "Martel Sans";
    margin: 0;
  }

  #tv-content {
    font-weight: 700;
    font-size: 21.5px;
    margin: 0;
  }

  #tv-div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #tv-img {
    z-index: 99;
    position: absolute;
    width: 100%;
  }

  #video-container {
    display: flex;
    overflow: hidden;
  }

  #tv-video {
    margin-left: 26px;
    margin-top: 13px;
    width: 98%;
    height: 80%;
  }

  /* ========= section 2 ========== */

  #mobile-section {
    display: flex;
  }

  #mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    position: relative;
  }

  #stranger-img {
    width: 100%;
  }

  #mobile-inner {
    display: flex;
    align-items: center;
    border: 2px solid rgb(65, 67, 68);
    border-radius: 10px;
    gap: 25px;
    padding: 10px 12px;
    position: absolute;
    background-color: black;
    bottom: 18%;
    width: 50%;
  }

  #mobile-inner-content {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  #stranger-book-img {
    width: 14%;
  }

  #stranger-title {
    font-size: 1.2vw;
    font-weight: 700;
    margin: -3px 0px;
  }

  #stranger-download {
    color: #0071eb;
    font-size: 1vw;
    margin: -3px 0px;
  }

  #mobile-section-content {
    width: 50%;
    /* border: 1px solid #0071eb; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  #mobile-download-content {
    font-weight: 1000;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 55px;
    margin: 0;
  }

  #mobile-favourite-content {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }


  /* ========= section 3 ========== */

  #monitor-section {
    display: flex;
    height: 520px;
    width: 1000px;
    /* width: 75.5%; */
    /* border: 1px solid red; */
  }

  #monitor-watch {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #monitor-watch-header {
    font-weight: 1000;
    font-size: 45px;
    margin: 0px;
  }

  #monitor-watch-content {
    font-weight: 500;
    font-size: 22px;
    margin: 0px;
    line-height: 30px;
  }

  #monitor {
    width: 52%;
    /* width: 500px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #monitor-div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #monitor-img {
    width: 520px;
    z-index: 99;
    position: absolute;
  }

  #monitor-container {
    /* display: flex; */
    width: 319px;
    height: 366px;
    overflow: hidden;
  }


  /* ========= section 4 ========== */

  #children-section {
    display: flex;
    height: 520px;
    width: 1000px;
  }

  #children {
    display: flex;
    align-items: center;
  }

  #children-img {
    width: 520px;
    height: min-content;
  }

  #children-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #children-profile-content {
    font-weight: 1000;
    font-size: 45px;
    margin: 0px;
    line-height: 60px;
  }

  #children-content {
    font-weight: 600;
    font-size: 23px;
    margin: 0px;
    line-height: 30px;
  }

  /* ========= section 5 ========== */

  #questions-section {
    margin: 80px 0px;
  }

  #frequent-questions {
    font-weight: 900;
    font-size: 45px;
    margin: 0px;
    text-align: center;
  }

  .question-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 950px;
    /* border: 1px solid red; */
    justify-content: space-between;
    padding: 0px 20px;
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(63, 61, 61);
  }

  .question-list:hover {
    cursor: pointer;
    background-color: rgb(83, 82, 82);
  }

  .plus {
    font-size: 35px;
  }

  #question-email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #email-para {
    font-size: 20px;
    font-weight: 500;
  }

  /* ==================footer ============================= */
  footer {
    display: flex;
    justify-content: center;
  }

  #footer {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    font-size: 15px;
    color: rgb(160, 159, 159);
    width: 75.5%;
    gap: 20px;
    /* border: 1px solid red; */
    margin: 50px 0px;
  }

  li>a {
    color: rgb(160, 159, 159);
  }

  #ph-number {
    color: rgb(160, 159, 159)
  }

  .langauge-footer {
    background-color: rgb(32, 32, 32);
  }

  #footer-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3rem;
    gap: 7px;
  }

}


